@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@400;700&display=swap');

body{
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

/*general/misc styling*/
section {
    text-align: left;
    background-color: white;
    padding: 2em 3em;
    overflow: auto;
}
.sectionTitle {
    font-size: 2em;
    padding: 1em 0em;
}

/*navigation*/
#burgerIcon {
    height: 2em;
    width: 2em;
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3e%3cpath strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M6 18L18 6M6 6l12 12'/%3e%3c/svg%3e");
}
.collapsed #burgerIcon {
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3e%3cpath strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M4 6h16M4 12h16M4 18h16'/%3e%3c/svg%3e");
}
#mainNav {
    min-height: 6em;
    background-color: black;
    opacity: 80%;
    color: white;
}
#mainNav .navbar-brand {
    color: white;
    font-size: 2.5em;
    padding: .9rem 0;
}
/*smallest menu nav links*/
#mainNav .nav-link{
    color: white;
}

/*medium screens or larger*/
@media (min-width: 768px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: black;
        opacity: 90%;
        color: white;
    }
    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: white;
    }
    #mainNav .nav-link {
        padding: 2rem 1.5rem;
        color: white;
    }
    #mainNav.navbar-shrink {
        background-color: black;
        color: white;
    }
    #mainNav.navbar-shrink .nav-link {
        color: white;
        padding: 1.5rem 1.5rem 1.25rem;
    }
}

/*welcome*/
#welcome {
    padding-top: 7rem;
    background: black; 
}
.welcomeText{
    color: white;
    font-size: 2em;
}

/*about*/
#about .sectionTitle{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center !important;
}


/*projects*/
#projects {
    background: black;
    color: white;
    font-size: 1em;
    
}
#projects .sectionTitle{
    color: white;
    text-align: center;
    margin: 1em auto 0em auto;
}
.projectsContainer {
    background: black;
    margin: 2em 2em;
}
.projectTitle {
    color: black;
    padding: 1em 1em .5em 0em;
    font-size: 1.5em;
}
.projectText {
    color: black;
    font-size: 1em;
    padding: 0 1em;
}
.projectTile {
    margin: 2em 0;
}

/*experience*/
#experience .sectionTitle{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center !important;
}

#experience .sectionSub {
    font-size: 1.2em;
    font-weight: bolder;
}

/*connect*/
#connect {
    color: black;
    padding: 3em 0;
    background: white;
    font-size: 2em;
}
#connect .sectionTitle{
    color: black;
    font-size: 1em;
    padding: .5em;
}
#connect a {
    color: black;
    font-size: .5em;
    text-align: center;
    text-decoration: none;
}
#connect a:hover {
    color: #373D3F;
    text-decoration: none;
}

/*footer*/
footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 0 0 6em 0;
}

/*tags*/
.tagList {
    padding: 0em 3em 1em 0em;
}
.tag {
    background-color: black;
    color: white;
    padding: .2em .5em;
    margin: 2em 0em;
}
